<h2> You've clicked into <%= @category.name %> </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Cateogry</th>
      <th scope="col">Workout</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
  <% @workouts.each do |workout| %>
  <% if workout.user == current_user %>
    <tr>
      <td><%= workout.category.name%></td>
      <td><%= workout.workout_type %></td>
      <td><%= workout.duration%></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
