    <div class="p-10 col">
        <h3>What is workout tracker?</h3>
        <p>This workout tracker is designed to replace your paper-and-pen workout journal. </p>
        <p>This workout tracking app has a minimalistic approach, but still includes all of the features you love. </p>
    </div>
	<div class="col">
		<h4>Why Choose Us?</h4>
        <ul class="listArrow">
			<li>Simple yet powerful</li>
			<li>Avoids unnecesary extras</li>
			<li>Quick & easy to use</li>
			<li>Use on the go or in the gym</li>
		</ul>
    </div>

