<div class="container">

    <div class="jumbotron">
    <h1 class="display-4">Welcome to your Workout Tracker</h1>
    <p class="lead">This is a simple, all-in-one app to help keep record of your workouts.</p>
    <hr class="my-4">
    <p>Click below to see your logged workouts.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg btn-dark" href="/workout/index" role="button">Learn more</a>
    </p>
    </div>

</div>

<div id="blah" class="container">
<p> Create your user profile to save your workouts
according to type, date, and duration </p>
</div>